<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>English Idioms</name>

    <description>
        Learn a selection of English idioms
    </description>


<icon src="idicon36.png" gap:platform="android" gap:density="ldpi" />
<icon src="idicon48.png" gap:platform="android" gap:density="mdpi" />
<icon src="idicon72.png" gap:platform="android" gap:density="hdpi" />
<icon src="idicon72.png" gap:platform="android" gap:density="xhdpi" />
    

</widget>
